<div class="rr-container ph3">
  <div class="rr-page-header">
    {{#link-to "index"}}
      <h1 class="rr-app-title">Rock &amp; Roll<small class="rr-subtitle"> with Ember.js</small></h1>
    {{/link-to}}
    {{#if session.isAuthenticated}}
      <div class="rr-user-panel">
        <span data-test-rr="user-email">{{session.data.authenticated.userEmail}}</span>
      </div>
      | <a href {{action 'logout'}} data-test-rr="logout">Logout</a>
    {{/if}}
  </div>
  <div class="rr-main-content">
    {{outlet}}
  </div>
</div>