<div class="rr-form-container">
  <h3 data-test-rr="form-header">Log in to R&amp;R</h3>
  <form onsubmit={{action "signIn"}}>
    <div class="rr-form-inline-row">
      <label for="email">Email</label>
      {{input type="email" class="rr-input ml-auto" id="email" value=email}}
    </div>
    <div class="rr-form-inline-row">
      <label for="password">Password</label>
      {{input type="password" class="rr-input ml-auto" id="password" value=password}}
    </div>
    <div class="rr-form-footer">
      <div class="rr-button-panel">
        <button type="submit" class="rr-action-button" data-test-rr="login-button">Sign in</button>
      </div>
      <div class="rr-cta">
        <span class="mr1">Don't have an account yet?</span>
        {{link-to 'Sign up now' 'sign-up' class="underline" }}
      </div>
    </div>
  </form>
</div>

